@foot-height:2em;
@button-size: @foot-height;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font: normal 16px sans-serif;
}

.layout{
  position: absolute;
  top: 0;bottom: 0;right: 0;left: 0;
  background: #00f;


  .footer{
    position: absolute;
    bottom: 0;left: 0;right: 0;
    height: @foot-height;
    background: #fff;
  }
  .main{
    position: absolute;
    top: 0; left: 0;right: 0;
    bottom: @foot-height;
    background: #fff;
  }
}

.chat{
  font:normal 14px monospace;
  overflow-y: auto;
  padding-bottom: @foot-height;
  .content{
    li{
      list-style-type: none;

      .time{
        color:#aaa;
        &:before{content:'[';}
        &:after{content:']';}
      }

      .nick{
        font-weight: bold;
        &:after{
          content:':';
        }
      }

      .message{
        white-space: pre-wrap;
      }

      &.system{
        color:#aaa;
      }

      &.me{
        .message{
          font-style: italic;
        }
        .nick{
          display: none;
        }
      }

    }
  }
}

.inputs{
  background: #f00;
  input[type="submit"]{
    display: none;
  }
  input[type="text"]{
    font:normal 14px monospace;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing:border-box;
    display: block;
    outline:none;
    border:none;
    background: #f0f0f0;
    line-height: @foot-height;
    padding: 0 @button-size+0.5em 0 0.5em;
    &:focus{
      background: #f0f0ff;
    }
  }
}

.footer{
  button{
    width:@button-size;
    height:@button-size;
    line-height: @button-size;
    position: absolute;
    right: 0;
    border:none;
    bottom: 0;
    text-align: center;
    font-size:inherit;
    background: #b7c7e4;
    outline: none;
    &:active{
      background: #fff;
    }
  }
}




